[submodule "/home/nycae/.vim/pack/plugins/start/vim-go"]
	path = /home/nycae/.vim/pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "/home/nycae/.vim/pack/plugins/start/nord-vim"]
	path = /home/nycae/.vim/pack/plugins/start/nord-vim
	url = https://github.com/arcticicestudio/nord-vim.git
[submodule "/home/nycae/.vim/pack/plugins/start/rust.vim"]
	path = /home/nycae/.vim/pack/plugins/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
